/* # VARIABLES */
:root {
	/*optimal line lengths*/
	--ll-print: 66ch;
	--ll-screen: 55ch;
	--ll-apporximation: 9.5cm;

	/*physical dimensionss*/
	--a4-long: 297mm;
	--a4-short: 210mm;
	--default-margin-int: 1in;
	--default-margin: 2.5cm;
	--cc-long: 3.375in;
	--cc-short: 2.125in;
	--cc-radius-min: 0.1125in;
	--cc-radius-optimal: 0.125in;
	--cc-radius-max: 0.1875in;
	--index-card-long: 5in;
	--index-card-short: 3in;
	--visitenkarteUS-long: 3.5in;
	--visitenkarteUS-short: 2in;
	--visitenkarteEU-long: 85mm;
	--visitenkarteEU-short: 55mm;
	--portrait-h: 4.5cm;
	--portrait-w: 3.5cm;
	--unterschriftenfeld-min-länge: 75mm;
	--unterschriftenfeld-min-höhe: 10mm;
	/*	--textwidth-og: 390pt;*/
	--paragraph-content-lh-accessibility: 1.5;

	/*unterschriftenfeld min*/

	/*text sizes*/
	--tex-pt: calc(1 / 72.27in);

	--min-x-height: 1.2ex;
	--extra-min-x-height: 0.9ex;
	--magstep: 1.2; /*minor third*/
	--halfstep: sqrt(var(--magstep));
	--fs-tiny: 6pt;
	--fs-min: var(--fs-tiy);
	--fs-script: 8pt;
	--fs-footnote: 10pt;
	--fs-small: calc(var(--fs-normal) / var(--halfstep));
	--fs-normal: 12pt;
	--fs-normal-serif: var(--fs-normal);
	--fs-normal-sans: 11pt;
	--fs-large: calc(var(--fs-normal) * pow(var(--magstep), 1));
	--fs-Large: calc(var(--fs-normal) * pow(var(--magstep), 2));
	--fs-LARGE: calc(var(--fs-normal) * pow(var(--magstep), 3));
	--fs-huge: calc(var(--fs-normal) * pow(var(--magstep), 4));
	--fs-Huge: calc(var(--fs-normal) * pow(var(--magstep), 5));
	--fs-title_h1: 2.2rem;
	--fs-heading_h2: 1.5rem;
	--fs-sub-heading_h3: 1.25rem;
	--fs-sub-sub-heading_h4: 1.125rem;
	--fs-handle_h5: 1.025rem;
	--fs-sub-handle_h6: 1rem;

	/* colors */
	--bg: hsl(0, 0%, 95%);
	--nm555: oklch(0.97 0.37 136);
	--content: black;

	--content-mild: hsl(0, 0%, 50%);
	--day-content-mild: ;
	--day-content: ;
	--night-content-mild: hsl;
	--night-content: ;
	--night-backdrop: ;
	--day-backdrop: ;
	--backdrop: ;

	/* line heights */
	--lh-text: 1.2; /* like TeX’s ~1.2 for body text */
	--lh-tight: 1.15; /* for mid headings */
	--lh-tighter: 1.12; /* big headings */
	--lh-tiniest: 1.1; /* tiny/scriptsize to avoid airy lines */

	--listsep-alt: 0.1666em;
	--listsep: 0.75em;
	--submetaSpacer: calc(1.5em + 12pt * 1.45);

	/* gutters */
	--sides-gutter: ;
	--ends-gutter: ;

	/*Seizenkennzeichung*/
	--fs-seizenkennzeichung: var(--fs-small, 11pt);

	/*barcode unten rechts hinten*/

	/*device sizes*/
	--vpw-narrowest: 320px;
	--vpw-c-mobile-s: var(--vpw-narrowest);
	--vpw-c-mobile-m: 375px;
	--vpw-c-mobile-l: 425px;
	--vpw-c-tablet: 768px;
	--vpw-c-laptop: 1024px;
	--vpw-c-laptop-l: 1440px;
	--vpw-c-4k: 2560px;
	--vpw-sweetspot: 980px;
}

/* # SUPER RESET */
/*https://gist.github.com/ambidexterich/34828a904dd97dd2a345*/

*,
*::before,
*::after {
	all: unset;
	display: revert;
	box-sizing: border-box;
	overflow-wrap: break-word;
	text-wrap: pretty;
	touch-action: pan-x pan-y;
	user-select: none;
	    -webkit-user-select: none;

	overscroll-behavior: none;
		image-rendering: pixelated;
	-webkit-font-smoothing: antialiased;
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
		font-family: system-ui;]
	cursor: pointer;
}

a, button, input, textarea, radio, select {
	cursor: unset;
}

img, svg {
		pointer-events:none;

}

   html {
            overflow: hidden;
        }

        body {
            background-color: rgb(0, 255, 4);
            height: 100dvh;
            overflow: auto;
			>*:only-child() {
				    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);

			    min-width: var(--vpw-narrowest);
    min-height: var(--vpw-narrowest);
			}
        }




:heading,
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

*:is(h1, h2, h3, h4)::first-letter {
	text-transform: uppercase;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

img,
picture,
video,
canvas,
figure,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

textarea:not([rows]) {
	min-height: 0; /*change later*/
}

:target {
	scroll-margin-block: 5ex;
}

a {
	text-decoration: underline;
	color: -webkit-link;
	cursor: pointer;
	text-decoration: underline;
	text-decoration-thickness: 0.07em;

	&:active {
		color: -webkit-activelink;
	}
}

a,
*[script="onclick()"],
*[script="onMousedown()"] {
	cursor: pointer;
}

/* # BASIC*/



abbr u,
acronym u {
}

em {
	font-style: italic;
}

i {
	font-style: oblique;
}

strong {
	font-weight: 600;
}

.hidden {
	display: none;
}

.spaceholder {
	visibility: none;
}

th[scope="rowgroup"], thead th:not([scope="rowgroup"]) {
text-align: center;
}


*:focus {
    outline: 1px solid -webkit-focus-ring-color;
}

*:focus-visible {
    outline: 2px solid -webkit-focus-ring-color;
}

*:visited {
    color: #681da8;
}

*:active {}

*:any-link:hover {
    text-decoration: underline;
}

*:any-link {

    color: #1a0dab;
}

*[data-scene="night"] a {
    color: #99c3ff;
}
