@import url("prose.css");
@import url("base.css");
@import url("reset.css");
@import url("variables.css");

/* # VARIABLES */

@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

*[data-scene="night"] {
	color: white;

	a {
		color: #99c3ff;
	}
}
